.cry-icon {
  width: 100px;
  height: 100px;
}

.cry {
  text-align: center;
  background-color: #5899e2;
  padding: 3rem 0;
  cursor: pointer;
}

.cry:nth-child(4n-2),
.cry:nth-child(4n-1) {
  background-color: #335c81;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.searchBar input {
  text-align: center;
  font-size: 1.5rem;
  height: 2rem;
  width: 50%;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .searchBar input {
    font-size: 1rem;
  }
}
