@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Oxygen&family=Poly&display=swap');

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
  background-image: -webkit-linear-gradient(65deg, #3bd6c9 40%, #46dd39 60%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
}

.milen-s {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.no-coin {
  text-align: center;
  font-size: 2rem;
}

.well-in {
  cursor: pointer;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 3rem;
}

.navigation-left,
.navigation-right {
  font-size: 1.3rem;
}

h2 {
  font-family: 'Poly', serif;
}

.navigation-left span {
  font-family: 'Poly', serif;
}

@media only screen and (max-width: 768px) {
  .navigation-left,
  .navigation-right {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}
